.page-footer__copyright {
  outline: 2px solid olive;
  padding: 40px 78px;
  line-height: 18px / $font-size-main;
}

.page-footer__wrapper {
  outline: 2px solid fuchsia;
}

.page-footer__logo {
  outline: 2px solid forestgreen;
  padding: 40px 62px;
}

.page-footer__social {
  outline: 2px solid lightcoral;
  padding: 0 50px;
}
