.promo-lottery-form__checkboxes {
  background-color: $color-secondary-background;
}

.promo-lottery-form__application-radio-block {
  background-color: $color-secondary-background;
}

.promo-lottery-form__field-text {
  color: $color-secondary-text;
}

.promo-lottery-form__trip-achivements-checkbox-title {
  color: $color-secondary-text;
}

.promo-lottery-form__application-radio-title {
  color: $color-secondary-text;
}

.promo-lottery-form__name-block {
  outline: 2px solid orange;
  padding-bottom: 42px;
}

.promo-lottery-form__checkboxes {
  outline: 2px solid brown;
  padding-top: 40px;
  padding-bottom: 42px;
}

.promo-lottery-form__contacts-block {
  outline: 2px solid blueviolet;
  padding-top: 40px;
  padding-bottom: 42px;
}

.promo-lottery-form__application-radio-block {
  outline: 2px solid olive;
  padding-top: 40px;
  padding-bottom: 42px;
}

.promo-lottery-form__comments-block {
  outline: 2px solid turquoise;
  padding-top: 40px;
  padding-bottom: 42px;
}

.promo-lottery-form__button {
  outline: 2px solid lightcoral;
  padding-bottom: 40px;
}

.promo-lottery-form__footnote {
  outline: 2px solid purple;
}
